.section-title {
  background: #d9e5ed;
  padding: 16px 5% 0 5%;
  display: flex;
  align-items: center;

  .mat-icon {
    font-size: 30px;
    margin-right: 15px;
  }

  .button-action-create-wrapper {
    margin: 0 0 16px;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 16px;
  }
}
