<div class="section-title mat-elevation-z1">
  <div fxFlex="100">
    <h1 fxFlex="50">Persons Management</h1>
    <span fxFlex="50" fxLayoutAlign="end center" class="button-action-create-wrapper">
      <button type="button" mat-raised-button color="primary" (click)="create()" onclick="this.blur()">
        Create
        <mat-icon>add</mat-icon>
      </button>
    </span>
  </div>
</div>

<div class="content">
  <table mat-table #table [dataSource]="dataSource" class="mat-elevation-z2 mt-20">

    <ng-container matColumnDef="id">
      <th class="mat-column mat-column-15" mat-header-cell *matHeaderCellDef> Id </th>
      <td class="mat-column mat-column-15" mat-cell *matCellDef="let person"> #{{person.id ? person.id : '-'}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th class="mat-column mat-column-15" mat-header-cell *matHeaderCellDef> Name </th>
      <td class="mat-column mat-column-15" mat-cell *matCellDef="let person"> {{person.name ? person.name : '-'}} </td>
    </ng-container>

    <ng-container matColumnDef="age">
      <th class="mat-column mat-column-15" mat-header-cell *matHeaderCellDef> Age </th>
      <td class="mat-column mat-column-15" mat-cell *matCellDef="let person"> {{person.age ? person.age : '-'}} </td>
    </ng-container>

    <ng-container matColumnDef="family">
      <th class="mat-column mat-column-15" mat-header-cell *matHeaderCellDef> Family </th>
      <td class="mat-column mat-column-15" mat-cell *matCellDef="let person"> {{person.family ? person.family : '-'}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th class="mat-column mat-column-15" mat-header-cell *matHeaderCellDef> Actions </th>
      <td class="mat-column mat-column-15" mat-cell *matCellDef="let person">
          <button mat-icon-button matTooltip="Edit" (click)=" edit(person)" onclick="this.blur()">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Delete" (click)="delete(person)" onclick="this.blur()">
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20, 100]" showFirstLastButtons></mat-paginator>
</div>
