$toolbar-height: 56px;
$footer-height: 80px;

mat-sidenav {
  width: 200px;

  a.invisible {
    height: 0;
    position: absolute;
  }

  .sidenav-btn--toggle {
    cursor: pointer;
    z-index: 9999;
  }

  mat-toolbar {
    min-height: $toolbar-height;
    height: $toolbar-height;

    mat-toolbar-row {
      min-height: $toolbar-height;
      height: $toolbar-height;
    }
  }

  mat-expansion-panel {
    border-radius: 0;

    &:not([class*='mat-elevation-z']) {
      box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
    }

    mat-expansion-panel-header {
      font-size: 16px;
      padding: 0 16px;

      &.mat-expanded {
        font-weight: 500;
      }

      .mat-expansion-panel-body {
        padding: 0 16px 0px;
      }
    }
  }
}

.toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
  height: $toolbar-height;

  mat-toolbar {
    min-height: $toolbar-height;
    height: $toolbar-height;

    mat-toolbar-row {
      min-height: $toolbar-height;
      height: $toolbar-height;
      padding: 0px;
    }
  }

  .logo {
    height: 40px;
    width: auto;
    position: relative;
    top: 2px;
  }
}

::ng-deep.mat-menu-panel {
  min-width: 150px !important;
}

.mat-sidenav-container {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;

  .mat-sidenav-content {
    .default-content-container {
      height: 100%;
    }
  }
}

.username-label {
  cursor: context-menu;
  pointer-events: none;
}

.main-content {
  width: 100%;
}

.footer {
  height: $footer-height;
  background: #b2cadb;

  span {
    color: #60707b;
    font-weight: 500;
  }
}
