<mat-sidenav-container>
  <mat-sidenav #sidenav fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="false">
    <mat-toolbar color="accent">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item class="invisible" routerLink="/"></a>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active">Link</a>
      <!-- <mat-accordion>
        <mat-expansion-panel #activitiesMenu [class.mat-elevation-z0]="!activitiesMenu.expanded">
          <mat-expansion-panel-header>
            {{ 'NAV.ACTIVITIES' | translate }}
          </mat-expansion-panel-header>
          <a mat-list-item routerLink="/activities" routerLinkActive="active"
            *ngIf="canViewActivities">{{ 'NAV.ACTIVITIES' | translate }}</a>
          <a mat-list-item routerLink="/activitiesByOpportunities" routerLinkActive="active"
            *ngIf="canViewActivities">{{ 'NAV.ACTIVITIES_BY_OPPORTUNITIES' | translate }}</a>
          <a mat-list-item routerLink="/calendar" routerLinkActive="active"
            *ngIf="canViewCalendar">{{ 'NAV.CALENDAR' | translate }}</a>
        </mat-expansion-panel>
        <mat-expansion-panel #configurationMenu [class.mat-elevation-z0]="!configurationMenu.expanded">
          <mat-expansion-panel-header>
            {{ 'NAV.CONFIGURATION' | translate }}
          </mat-expansion-panel-header>
          <a mat-list-item routerLink="/salespersons" routerLinkActive="active"
            *ngIf="canViewSalesPersons">{{ 'NAV.SALES_PERSONS' | translate }}</a>
          <a mat-list-item routerLink="/groups" routerLinkActive="active"
            *ngIf="canViewGroups">{{ 'NAV.GROUPS' | translate }}</a>
          <a mat-list-item routerLink="/territories" routerLinkActive="active"
            *ngIf="canViewTerritories">{{ 'NAV.TERRITORIES' | translate }}</a>
          <a mat-list-item routerLink="/territoryCallCycles" routerLinkActive="active"
            *ngIf="canViewTerritoryCallCycles">{{ 'NAV.TERRITORY_CALL_CYCLES' | translate }}</a>
          <a mat-list-item routerLink="/callCycles" routerLinkActive="active"
            *ngIf="canViewCallCycles">{{ 'NAV.CALL_CYCLES' | translate }}</a>
          <a mat-list-item routerLink="/callCycleTypes" routerLinkActive="active"
            *ngIf="canViewCallCycleTypes">{{ 'NAV.CALL_CYCLE_TYPES' | translate }}</a>
          <a mat-list-item routerLink="/activitycodes" routerLinkActive="active"
            *ngIf="canViewActivityCodes">{{ 'NAV.ACTIVITY_CODES' | translate }}</a>
          <a mat-list-item routerLink="/opportunityStatuses" routerLinkActive="active"
            *ngIf="canViewOpportunityStatuses">{{ 'NAV.OPPORTUNITY_STATUSES' | translate }}</a>
          <a mat-list-item routerLink="/opportunityTypes" routerLinkActive="active"
            *ngIf="canViewOpportunityTypes">{{ 'NAV.OPPORTUNITY_TYPES' | translate }}</a>
          <a mat-list-item routerLink="/objectives" routerLinkActive="active"
            *ngIf="canViewObjectives">{{ 'NAV.OBJECTIVES' | translate }}</a>
          <a mat-list-item routerLink="/settings" routerLinkActive="active"
            *ngIf="canViewSettings">{{ 'NAV.SETTINGS' | translate }}</a>
        </mat-expansion-panel>
        <mat-expansion-panel #prospectsMenu [class.mat-elevation-z0]="!prospectsMenu.expanded">
          <mat-expansion-panel-header>
            {{ 'NAV.PROSPECTS' | translate }}
          </mat-expansion-panel-header>
          <a mat-list-item routerLink="/prospects" routerLinkActive="active"
            *ngIf="canViewProspects">{{ 'NAV.PROSPECTS' | translate }}</a>
          <a mat-list-item routerLink="/prospectcontacts" routerLinkActive="active"
            *ngIf="canViewProspects">{{ 'NAV.CONTACTS' | translate }}</a>
        </mat-expansion-panel>
      </mat-accordion> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div fxLayout="column" class="default-content-container">
      <div fxFlex="none" class="mainToolbar mat-elevation-z8">
        <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="center" fxLayoutWrap="wrap">
          <mat-toolbar-row>
            <button mat-icon-button #menuButton type="button" aria-label="sidenav toggle" class="sidenav-btn--toggle" (click)="sidenav.toggle()"
              style="outline: none;">
              <mat-icon aria-label="Side nav toggle icon" style="outline: none;">menu</mat-icon>
            </button>
            <mat-icon class="logo-full"></mat-icon>

            <button mat-icon-button *ngIf="(isHandset$ | async)" [matMenuTriggerFor]="userMenu">
              <mat-icon>account_circle</mat-icon>
            </button>
            <button mat-button *ngIf="(isHandset$ | async)" [matMenuTriggerFor]="userMenu"
              class="user-menu">
              <span>{{ username }}</span>
              <mat-icon>expand_more</mat-icon>
            </button>
            <mat-menu #userMenu="matMenu" [overlapTrigger]="false" xPosition="before">
              <span mat-menu-item class="username-label" *ngIf="(isHandset$ | async)">
                <mat-icon>account_circle</mat-icon>{{ username }}
              </span>
              <mat-divider *ngIf="(isHandset$ | async)"></mat-divider>
              <mat-divider></mat-divider>
              <button mat-menu-item (click)="logout()">
                <mat-icon></mat-icon>
                Logout
              </button>
            </mat-menu>
          </mat-toolbar-row>
        </mat-toolbar>
      </div>
      <div fxFlex="noshrink">
        <div fxLayout="row" fxLayoutAlign="center" fxLayoutWrap="wrap">
          <div class="mainContent">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
      <div fxFlex="none">
        <footer class="app-footer" fxLayout="row" fxLayoutAlign="end start">
          <span>
            2020 EBS Angular
          </span>
        </footer>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
