@import '~@angular/material/theming';
@include mat-core();

/* custom theme */
@import './theme.scss';
$ebs-angular-primary: mat-palette($ebs-dark-blue);
$ebs-angular-accent: mat-palette($ebs-gray);
$ebs-angular-warn: mat-palette($ebs-orange, 900);

$ebs-angular-theme: mat-light-theme($ebs-angular-primary, $ebs-angular-accent, $ebs-angular-warn);
@include angular-material-theme($ebs-angular-theme);

/* You can add global styles to this file, and also import other style files */

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import './utility.scss';
@import '~ngx-toastr/toastr';

/* Buttons */

button {
  &.mat-raised-button {
    min-width: 140px;

    .material-icons {
      margin-left: 12px;
    }
  }

  .mat-progress-spinner {
    display: inline-block;
    margin-left: 12px;
  }
}

/* Toastr */

.toast-top-center {
  top: 30px;
}

/* Table */

.content {
  max-width: 90%;
  margin: auto;
  padding: 1.5%;

  table {
    width: 100%;
    background: #fafafa;

    tr.mat-header-row {
      background: #fbcbb2;

      th {
        color: rgba(0, 0, 0, 0.87);
        text-transform: uppercase;
      }
    }

    .mat-column {
      word-wrap: break-word !important;
      white-space: unset !important;
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-word;

      &-5 {
        flex: 0 0 5% !important;
        width: 5% !important;
      }

      &-7 {
        flex: 0 0 7% !important;
        width: 7% !important;
      }

      &-10 {
        flex: 0 0 10% !important;
        width: 10% !important;
      }

      &-15 {
        flex: 0 0 15% !important;
        width: 15% !important;
      }

      &-20 {
        flex: 0 0 20% !important;
        width: 20% !important;
      }

      &-30 {
        flex: 0 0 30% !important;
        width: 30% !important;
      }
    }
  }

  .mat-paginator {
    background: #fafafa;
  }
}
