$ebs-blue: (
  50 : #e5effc,
  100 : #bfd8f6,
  200 : #95bef1,
  300 : #6aa4eb,
  400 : #4a91e6,
  500 : #2a7de2,
  600 : #2575df,
  700 : #1f6ada,
  800 : #1960d6,
  900 : #0f4dcf,
  A100 : #fcfdff,
  A200 : #c9d8ff,
  A400 : #96b3ff,
  A700 : #7ca1ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$ebs-dark-blue: (
  50 : #e3e6ea,
    100 : #b9c2cb,
    200 : #8b99a8,
    300 : #5d7085,
    400 : #3a516a,
    500 : #173250,
    600 : #142d49,
    700 : #112640,
    800 : #0d1f37,
    900 : #071327,
    A100 : #6393ff,
    A200 : #306fff,
    A400 : #004dfc,
    A700 : #0045e3,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$ebs-gray: (
    50 : #f6f9fb,
    100 : #e8eff4,
    200 : #d9e5ed,
    300 : #c9dae6,
    400 : #bed2e0,
    500 : #b2cadb,
    600 : #abc5d7,
    700 : #a2bdd2,
    800 : #99b7cd,
    900 : #8aabc4,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #f0f8ff,
    A700 : #d6edff,
    contrast: (
        50 : #60707b,
        100 : #60707b,
        200 : #60707b,
        300 : #60707b,
        400 : #60707b,
        500 : #60707b,
        600 : #60707b,
        700 : #60707b,
        800 : #60707b,
        900 : #60707b,
        A100 : #60707b,
        A200 : #60707b,
        A400 : #60707b,
        A700 : #60707b,
    )
);

$ebs-orange: (
  50 : #fef2ed,
  100 : #fce0d1,
  200 : #fbcbb2,
  300 : #f9b693,
  400 : #f7a67c,
  500 : #f69665,
  600 : #f58e5d,
  700 : #f38353,
  800 : #f27949,
  900 : #ef6837,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffddd2,
  A700 : #ffcab8,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);
