/* Spacing classes */

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

/* Utility classes */

.invisible {
  visibility: hidden;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.not-allowed {
  cursor: not-allowed;
}

.flex {
  display: flex;
}

.text-left {
  display: flex;
  justify-content: flex-start;
}

.text-right {
  display: flex;
  justify-content: flex-end;
}

.text-center {
  display: flex;
  justify-content: center;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.text-capitalize {
  text-transform: capitalize;
}

.relative {
  position: relative;
}

.aboslute {
  position: absolute;
}

.bold {
  font-weight: bold;
}

.full-width {
  width: 100%;
}
